body .aeria-container {
  -webkit-font-smoothing: antialiased;
}
body .aeria-container .container {
  width: auto;
}
body .aeria-container .container .row {
  padding: 2em 0;
  border-bottom: 1px solid #DFDFDF;
}
body .aeria-container .container .row .input-group-addon {
  border-radius: 0;
}
body .aeria-container .container .row input[type="text"] {
  min-height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  width: 100%;
  border: 1px solid #D3D3D3;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  background-color: #FFF;
  color: #333;
  -webkit-transition: 0.05s border-color ease-in-out;
  transition: 0.05s border-color ease-in-out;
  border-radius: 0;
}
body .aeria-container .container .row textarea {
  max-width: 100%;
  width: 100% !important;
}
body .aeria-container .container .row .box-image {
  width: 24%;
  height: 150px;
  display: inline-block;
  margin: 0.4%;
  overflow: hidden;
  border: 1px solid #F1F1F1;
}
body .aeria-container .container .row .box-image:hover .box-controls {
  display: block;
  left: 0;
}
body .aeria-container .container .row .box-image:hover .image {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
body .aeria-container .container .row .box-image .image {
  display: block;
  width: 100%;
  height: 150px;
  background-size: contain !important;
  background-position: center center !important;
  background-repeat: no-repeat;
}
body .aeria-container .container .row .box-image .image.multi {
  cursor: move;
}
body .aeria-container .container .row .box-image .image.file {
  background-color: #F1F1F1 !important;
  background-image: url('../img/file.jpg') !important;
  background-position: top 30px center !important;
  background-repeat: no-repeat !important;
  background-size: auto !important;
  position: relative;
}
body .aeria-container .container .row .box-image .image.file h4 {
  text-align: center;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1em;
  bottom: 20px;
}
body .aeria-container .container .row .box-image.add {
  background-color: #F1F1F1;
  cursor: pointer;
  text-align: center;
  line-height: 13em;
}
body .aeria-container .container .row .box-image.add:hover .glyphicon {
  opacity: 0.5;
}
body .aeria-container .container .row .box-image.add .glyphicon {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #9E9E9E;
  font-size: 3em;
}
body .aeria-container .container .row .box-image .box-controls {
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: relative;
  left: -50%;
  top: -100%;
  cursor: default;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body .aeria-container .container .row .box-image .box-controls .button {
  position: absolute;
  font-size: 2em;
  background: transparent;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.9);
  border: none;
  display: block;
  width: 28px;
  height: 28px;
  padding: 0;
  margin-left: -14px;
  left: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body .aeria-container .container .row .box-image .box-controls .button:hover {
  opacity: 0.5;
}
body .aeria-container .container .row .box-image .box-controls .button.button-edit {
  bottom: 25%;
}
body .aeria-container .container .row .box-image .box-controls .button.button-remove {
  top: 25%;
}
body .aeria-container .container .row .box-radio input {
  margin-bottom: 15px;
}
body .aeria-container .container .row .box-radio label {
  margin-left: 8px;
  margin-top: -5px;
}
body .aeria-container .container .row .button-add {
  text-decoration: none !important;
  position: relative;
  margin: 30px auto !important;
  left: 50%;
  width: 100px;
  margin-left: -50px !important;
  text-align: center;
}
body .aeria-container .container .row .select2-container {
  width: 100%;
}
body .aeria-container .container .row .select2-container * {
  outline: none;
}
body .aeria-container .container .row .select2-container > a,
body .aeria-container .container .row .select2-container .select2-choices {
  min-height: 34px;
  height: auto;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  width: 100%;
  border: 1px solid #D3D3D3;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  background-color: #FFF;
  color: #333;
  border-radius: 0;
  background: transparent;
  text-decoration: none;
}
body .aeria-container .container .row .select2-container > a .select2-arrow,
body .aeria-container .container .row .select2-container .select2-choices .select2-arrow {
  width: 30px;
  background: transparent;
}
body .aeria-container .container .row .select2-container > a .select2-arrow b,
body .aeria-container .container .row .select2-container .select2-choices .select2-arrow b {
  background: url('../img/select2.png') no-repeat 7px 3px;
}
body .aeria-container .container .row .select2-container > a abbr,
body .aeria-container .container .row .select2-container .select2-choices abbr {
  background: url('../img/select2.png') right top no-repeat;
}
body .aeria-container .container .row .select2-container .select2-choices input[type="text"] {
  width: auto !important;
  border: none;
  box-shadow: none;
}
body .aeria-container .container .row .select2-container .select2-choices .select2-search-choice {
  background: transparent;
  min-height: 30px;
  line-height: 1.5em;
  border-radius: 0;
}
body .aeria-container .container .row .select2-container .select2-choices .select2-search-choice > div {
  margin-left: 8px;
}
body .aeria-container .container .row .select2-container .select2-choices .select2-search-choice a {
  background: url('../img/select2.png') right top no-repeat;
  top: 7px;
  width: 15px;
  margin-left: 4px;
}
body .aeria-container .container .row .select2-container .select2-search input {
  background: #ffffff url('../img/select2.png') no-repeat 100% -22px;
  background: url('../img/select2.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #ffffff), color-stop(0.99, #eeeeee));
  background: url('../img/select2.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, #ffffff 85%, #eeeeee 99%);
  background: url('../img/select2.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, #ffffff 85%, #eeeeee 99%);
  background: url('../img/select2.png') no-repeat 100% -22px, linear-gradient(to bottom, #ffffff 85%, #eeeeee 99%) 0 0;
}
body .aeria-container .container .row .select2-container .select2-search input.select2-active {
  background: #ffffff url('../img/select2-spinner.gif') no-repeat 100%;
  background: url('../img/select2-spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #ffffff), color-stop(0.99, #eeeeee));
  background: url('../img/select2-spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, #ffffff 85%, #eeeeee 99%);
  background: url('../img/select2-spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, #ffffff 85%, #eeeeee 99%);
  background: url('../img/select2-spinner.gif') no-repeat 100%, linear-gradient(to bottom, #ffffff 85%, #eeeeee 99%) 0 0;
}
body .aeria-container .container .row .select2-more-results.select2-active {
  background: #f4f4f4 url('../img/select2-spinner.gif') no-repeat 0%;
}
body .aeria-container .container .row .select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: #ffffff url('../img/select2-spinner.gif') no-repeat 0% !important;
}
body .aeria-container .container .row .select2-search-field input {
  padding-left: 20px;
  margin-left: 10px;
}
body .aeria-container .container .row .select2-search-choice-close {
  right: 35px;
  top: 9px;
}
body .box-preview {
  display: block;
  height: 120px;
}
body .box-preview.small {
  height: 50px;
}
body .box-preview.small span {
  float: left;
  margin-left: 10px;
  margin-top: 15px;
}
body .box-preview .image-preview {
  height: 120px;
  width: 120px;
  background-size: cover;
  background-position: center center;
  float: left;
}
body .box-preview .image-preview span {
  display: none;
}
body .box-preview .image-preview.small {
  height: 50px;
  width: 50px;
}
body .select2-drop * {
  outline: none;
}
body .select2-drop.select2-drop-active {
  border: 1px solid #D3D3D3;
  border-color: #D3D3D3;
  border-top-color: #D3D3D3 !important;
  border-radius: 0;
  box-shadow: none;
}
body .select2-drop .select2-results {
  margin: 0;
  padding: 0;
}
body .select2-drop .select2-results li {
  padding: 0.5em 0;
  height: auto;
}
body .select2-drop .select2-results .select2-highlighted {
  background: #A8A8A8;
  color: #fff;
}
body .select2-drop .select2-search {
  padding: 0;
}
body .select2-drop .select2-search input[type="text"] {
  min-height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  width: 100%;
  border: none;
  border-bottom: 1px solid #D3D3D3;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  background-color: #FFF;
  color: #333;
  background: transparent;
}
body .select2-drop .select2-search input[type="text"]:focus {
  border-color: #D3D3D3;
  box-shadow: none;
}
