#post-list {
	margin-top: 20px;
}
#post-list > li > div {
	width: 50%;
	font-weight: bold;
	background: #fff; /* for non-css3 browsers */
	cursor: move;
	border: 1px solid #ddd;
	position: relative;
}
.text {
	position: relative;
	display: table;
	width: 100%;
	padding: 10px;
}
.text div {
	position: relative;
	padding: 0 30px;
	display: table-cell;
}
#post-list ul {
	padding-left: 20px;
}
#post-list div img {
	vertical-align: middle;
	margin: 0 12px 0 0;
	border: 2px solid #ddd;
}
.ui-sortable-placeholder {
	border-radius: 0 !important;
	background: transparent !important;
	border: 2px dashed #ddd !important;
	visibility: visible !important;
}
#loading-animation {
	display: none;
}
#post-list .children {
	display: none;
}
.search {
	width: 50%;
	margin: 0;
	padding: 1em;
	border: 1px solid #DDD;
	background-color: #fff;
	font-size: 1.3em;
	margin-top: 20px;
	outline: none;
	background-image: url(../img/search-icon.png);
	background-repeat: no-repeat;
	background-position: center right 10px;
}