#post-list {
	margin-top: 20px;
}
#post-list > li > div {
	padding: 10px;
	width: 50%;
	font-weight: bold;
	background: #fff; /* for non-css3 browsers */
	/*
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e7e7e7');
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
	background: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
	background:    -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
	background:      -o-linear-gradient(top, #f7f7f7, #e7e7e7);
	background:     -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
	*/
	cursor: move;
	border: 1px solid #ddd;
	position: relative;
}
.text {
	position: relative;
	display: table;
	width: 100%;
}
.text div {
	position: relative;
	padding: 0 30px;
	display: table-cell;
}
#post-list ul {
	padding-left: 20px;
}
#post-list div img {
	vertical-align: middle;
	margin: 0 12px 0 0;
	border: 2px solid #ddd;
}
.ui-sortable-placeholder {
	border-radius: 0 !important;
	background: transparent !important;
	border: 2px dashed #ddd !important;
	visibility: visible !important;
}
#loading-animation {
	display: none;
}
#post-list .children {
	display: none;
}