.box-controls {
	padding: 15px;
}
.box-controls button, .box-controls #ncol  {
	float: left;
	margin-right: 5px !important;
}
.box-controls .dashicons, .box-reorder .dashicons  {
	margin-top: 3px;
}
.box-section, .box-reorder {
	margin: 1rem 0;
	background-color: #F1F1F1;
	border: 1px dashed #C7C7C7;
}
.box-section .body-section {
	margin: 15px;
	display: none;
}
.box-section .body-section h2 {
	padding: 10px 0 !important;
	margin-left: 0;
	margin-right: 0;
	border-bottom: 1px dashed #C7C7C7;
}
.box-section .header-section {
	text-transform: uppercase;
	background-color: #FFF;
	display: table;
	width: 100%;
	position: relative;
}
.box-section .header-section .background {
	width: 20%;
	height: 100px;
	background-size: cover;
	display: table-cell;
	cursor: pointer;
	position: relative;
	background-color: #363B3F;
}
.box-section .header-section .background:before {
	content: "\f472";
	font-family: "dashicons";
	font-size: 3rem;
	position: absolute;
	top: 44px;
	left: 50%;
	margin-left: -22px;
	color: rgba(255, 255, 255, 0.4);
}
.box-section .header-section .post_section_title {
	font-size: 1.5rem;
	border: none;
	box-shadow: none;
	width: 100%;
}
.box-section .header-section .title {
	width: 60%;
	display: table-cell;
	vertical-align: middle;
	padding-left: 15px;
}
.box-section .header-section .controls {
	width: 20%;
	display: table-cell;
	vertical-align: middle;
}
.box-section .header-section .controls button {
	float: right;
	display: block;
  	position: relative;
  	margin-right: 15px;
}
.box-reorder {
	display: none;
	padding: 0.5rem 1rem;
}
.box-reorder ul li {
	background: #fff;
	border: 1px dashed #C7C7C7;
	padding: 1rem;
	cursor: move;
}
.box-reorder ul li button {
	float: right;
}
.box-reorder ul li .dashicons {
	margin-top: 0;
}
.box-section .row-field {
	padding: 10px 0;
	border-bottom: 1px dashed rgba(0,0,0,0.1);
	width: 50%;
	display: inline-block;
	min-height: 45px;
}
@media(max-width: 1480px){
	.box-section .row-field {
		border-bottom: 1px dashed rgba(0,0,0,0.1);
		width: 100%;
		display: block;
	}
}
.box-section .row-field select {
	min-width: 250px;
}
.box-section .row-field input[type="text"] {
	min-width: 250px;
}
.box-section .row-field label {
	display: inline-block;
	position: relative;
	width: 35%;
}
.box-section .wp-editor-wrap{
	margin-top: 10px;
}
.remove_background {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: rgba(255,255,255,0.8);
	font-size: 15px;
	font-weight: bold;
	padding: 3px 6px 6px 3px;
	border-bottom-right-radius: 50%;
	cursor: pointer;
	color: #464C50;
}
